

.ggg {
	margin: 10px;
	text-align: center;
}

img {
	height: 100px;
	vertical-align: top;
}

.gggg {
	display: inline-block;
	width: 380px;
	height: 60px;
	background-color: lightcyan;
	padding: 20px;

	border: 2px solid red;
	border-radius: 15px;
}

.ggggg {
	text-align: left;
}
.gggggg {
	text-align: right;
}